.App {
	text-align: center;
}

.addbtn {
	margin-left: 2rem !important;
}
.todos {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: blueviolet; */
	padding: 0 !important;
}
