.todo__list {
	width: 80vw;
	background-color: #e7e4e46b;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 0.5rem !important;
	border-radius: 0.2rem;
}
.dlt-icon {
	cursor: pointer;
	opacity: 0.7;
	color: #2196f3;
	font-size: 2rem !important;
}
.dlt-icon:hover {
	opacity: 1;
	color: #2196f3;
}
